@import "_variable.scss";

.autopreneneur-container {
  width: 100%;
  height: auto;
  margin-bottom: 3em;

  button {
    width: auto;
    display: block;
    padding: 1em 3em;
    background-color: $cr-tealgreen;
    border: 0;
    font-weight: bolder;
    text-align: center;
    margin: 2em auto;
  }

  .autopreneneur-line {
    width: 90%;
    margin: 3em auto;
    height: 0.1em;
    background-color: $cr-grey;
  }
}

.autopreneur-become {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../background-images/becomeanent.jpg");
}
.autopreneur-boss {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../background-images/beboss.jpg");
}
.autopreneur-make-money {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../background-images/makemoney.jpg");
}

.autopreneur-centered {
  text-align: center;
}

.autopreneur-hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;

  h1 {
    position: absolute;
    bottom: 30%;
    // font-size: ;
    color: $cr-white;
  }
}

.autopreneneur-carousel {
  width: 80%;
  padding: 5% 10em;
  height: auto;
  margin: auto;
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
  // text-align: center;
  background-color: $cr-grey;

  .navigator {
    position: absolute;
    width: 10em;
    height: 10em;
    border-radius: 100%;
    display: flex;
    align-items: center;
    background-color: $cr-darkgrey;
    padding: 2%;

    :hover {
      cursor: pointer;
    }

    h1 {
      font-size: 8em;
      color: $cr-white;
    }
  }

  .left-slide {
    justify-content: flex-end;
    left: -5em;
  }
  .right-slide {
    justify-content: flex-start;
    right: -5em;
  }
}

.autopreneneur-content {
  width: 100%;
  margin: auto;

  ul {
    list-style: none;
  }

  ul li::before {
    content: "";
    background: $cr-orange;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    margin: 1em 1em 0;
    text-align: left;
  }
}

.autopreneneur-rec-carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;

  h1 {
    font-size: 8em;
    outline: none;
  }

  h1:hover {
    cursor: pointer;
  }
}

.autopreneneur-suggestion {
  width: 80%;
  margin: 2em auto;

  .autopreneneur-recommended {
    width: auto;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }
  .autopreneneur-recommended::-webkit-scrollbar {
    display: none;
  }
}
