.dealer {
  position: relative;
  width: 100%;
  .text-area {
    margin: 0 auto;
    margin-top: -300px;
    .heading {
      font: normal normal bold 60px/30px Roboto;
      letter-spacing: 1.6px;
      color: #ffffff;
      text-shadow: 0px 3px 6px #00000029;
      line-height: 1em;
    }
    .text {
      font: normal normal normal 30px/31px Roboto;
      letter-spacing: 0px;
      color: #ffffff;
      text-shadow: 6px 1px 5px #00000029;
      text-align: center;
      margin-bottom: 120px;
    }
    .quality {
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border: 1px solid #f9a41d;
      border-radius: 10px;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;
      padding-bottom: 0;
      // z-index: 999999999 !important;
      .top {
        margin-bottom: 2em;
        .heading {
          text-align: center;
          font: normal normal bold 40px/30px Roboto;
          letter-spacing: 1.2px;
          color: #0e0f0e;
          border-bottom: 1px solid #0e0f0e;
          margin-bottom: 1em;
          line-height: 1em;
          padding-bottom: 0.5em;
        }
        .sign-up-left-heading {
          font: normal normal normal 25px/50px Roboto;
          letter-spacing: 0px;
          color: #0e0f0e;
        }
        ul {
          li {
            list-style: none;
            margin-top: 1em;
            margin-left: -2.3em;
          }
        }
      }
      .sign-up-btn {
        background: #f06078 0% 0% no-repeat padding-box;
        border-radius: 5px;
        font: normal normal normal 18px/26px Roboto;
        letter-spacing: 0px;
        color: #ffffff;
        text-transform: uppercase;
      }
    }
    .how-work {
      background: #fad8de 0% 0% no-repeat padding-box;
      .heading {
        font: normal normal bold 40px/30px Roboto;
        letter-spacing: 1.2px;
        color: #16b8ac;
      }
      .title {
        font: normal normal bold 25px/31px Roboto;
        letter-spacing: 0px;
        color: #f9a41d;
      }
    }
    form {
      .heading {
        font: normal normal bold 40px/30px Roboto;
        letter-spacing: 1.2px;
        color: #16b8ac;
        line-height: 1em;
        margin-bottom: 1em;
      }
      border-radius: 10px;

      // padding: 5em;
      margin: 0 auto;
      margin-bottom: 5em;
      input {
        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        border: 1px solid var(--unnamed-color-21b7ac);
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 1px solid #21b7ac;
        border-radius: 5px;
        height: 43px;
        margin-bottom: 1em;
      }
      button {
        background: #ff9101 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 5px;
        text-align: left;
        font: normal normal bold 20px/18px Roboto;
        letter-spacing: 0.6px;
        color: #222121;
        border: none;
        padding: 0.5em 3em !important;
        margin: 0 auto;
        margin-bottom: 4em;
      }
    }
  }
  .verification {
    position: relative;
    background: #10cac1 0% 0% no-repeat padding-box;
    margin-top: -15em;
    line-height: 2em;
  
    // padding-top: -16em !important;
    z-index: -9999999;
    .heading {
      // margin-top: 16em;
      padding-top: 10em;
      text-align: center;
      font: normal normal bold 25px/31px Roboto;
      letter-spacing: 0px;
      color: #222121;
    }
  }
}
