@import "./variable.scss";

.jumbotron {
    border-radius: 0 !important;
    padding: 0 !important;
    position: relative;
    margin-bottom: 0;

    .owl-theme .owl-nav.disabled + .owl-dots {
        position: absolute;
        bottom: 60px;
        right: 0;
        width: 100%;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 5px;
        height: 5px;
        margin: 5px 7px;
        background: #68fef7;
        border-radius: 100%;
    }
    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        background: #ffffff;
    }
    .item {
        position: relative;
    }

    .banner-text {
        position: absolute;
        top: 47px;
        width: 100%;
        padding-left: 0 !important;
    }
    .banner-text h1 {
        color: $cr-white;
    }
    .banner-bottom-container {
        border: solid 1px $cr-darkgrey;
        padding-top: 10px;
        background-color: $cr-white;
        border-radius: 0;
        padding: 50px 80px 40px 80px;
    }
    .banner-bottom-container .form-control {
        border-color: $cr-tealgreen;
        box-shadow: none !important;
        border-right: none !important;
        background-color: #f0f1f2;
    }
    .banner-bottom-container .form-control::placeholder {
        color: $cr-darkgrey;
        font-weight: 4300;
    }
    .banner-bottom-container .input-group-append .btn-link {
        padding-bottom: 4px;
        border-color: $cr-tealgreen;
        border-left: none !important;
        box-shadow: none !important;
        background-color: #f0f1f2;
    }
    .banner-bottom-container .input-group-append img {
        width: 20px;
        height: 20px;
    }
    .find {
        font-weight: 700;
        font-size: 14px;
    }
    .react-grid-dropdown__button {
        padding: 0px 30px 0px 0px;

        cursor: pointer;
        text-transform: capitalize;
        font-size: 14px;
        line-height: 1;
        border-radius: 0px;
        border: none !important;
        color: $cr-darkgrey;
    }
    .react-grid-dropdown__button:hover {
        background-color: transparent !important;
    }
    .react-grid-dropdown__button:after {
        border-color: $cr-darkgrey transparent transparent transparent;
        top: 6px;
        right: 13px;
    }
    .react-grid-dropdown__button.active:after {
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent $cr-darkgrey transparent;
        top: 5px;
    }
    .react-grid-dropdown__dropdown {
        background-color: rgba(255, 255, 255, 1);
    }
    .react-grid-dropdown__label {
        width: 100%;
        height: inherit;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        color: $cr-darkgrey;
        background-color: transparent;
        border-radius: 4px;
        text-transform: capitalize;
        font-size: 16px;
        text-shadow: none !important;
        margin-left: 10px;
    }
    .react-grid-dropdown__item {
        width: inherit;
        height: 20px;
        border-radius: 4px;
        cursor: pointer;
        background-size: cover;
    }
    .react-grid-dropdown__section-label {
        margin-left: 5px;
        padding: 5px 10px 5px 10px;
        background: #fff;
        border: none;
        border-radius: 4px;
        display: table;
        color: $cr-tealgreen;
        font-weight: 600;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        height: 400px;
        overflow: scroll;
        min-width: 53.6rem !important;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: 1rem;
        color: #212529;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
    }
    .dropdown-menu.show {
        left: -202px !important;
    }
    .teal-color {
        font-weight: 700;
    }
    .banner-bottom {
        position: absolute;
        width: 100%;
        bottom: 0;
        // top: 0;
        z-index: 1000;
    }
    .fixed-socials {
        display: inline-block;
        height: 25px;
        position: fixed;
        right: 0px;
        top: 260px;
        bottom: 0;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        // -moz-transform: rotate(-90deg);
        // -ms-transform: rotate(-90deg);
        // -o-transform: rotate(-90deg);
        // -webkit-transform: rotate(-90deg);
        transform-origin: right;
        // width: 150px;
        padding-bottom: 20px;
        z-index: 1000;
    }
    .btn-link {
        border-bottom: solid 1px rgba(112, 112, 112, 0.3);
        border-radius: 0;
        background-color: $cr-white;
        box-shadow: none !important;
    }
    .btn-link img {
        width: 15px;
    }
    .fb {
        width: 12px !important;
        margin-left: 1px;
        margin-right: 2px;
    }
    // .btn-danger {
    //     background-color: $cr-red;
    //     color: $cr-white;
    //     border-color: $cr-red;
    //     border-radius: 0;
    //     display: inline-block;
    //     height: 25px;
    //     // line-height: 50px;
    //     letter-spacing: 3px;
    //     font-size: 14px;
    //     font-weight: 600;
    //     position: fixed;
    //     right: 13px;
    //     top: 250px;
    //     bottom: 0;
    //     text-align: center;
    //     text-decoration: none;
    //     text-transform: uppercase;
    //     -moz-transform: rotate(-90deg);
    //     -ms-transform: rotate(-90deg);
    //     -o-transform: rotate(-90deg);
    //     -webkit-transform: rotate(-90deg);
    //     transform-origin: right;
    //     // width: 150px;
    //     padding-bottom: 20px;
    //     z-index: 1000;
    //     padding-left: 30px;
    //     padding-right: 30px;
    //     border-top-left-radius: 10px;
    //     border-top-right-radius: 10px;
    // }
}
