@import "./variable.scss";

.feedback {
    @media (min-width: 1300px) {
        .container,
        .container-lg,
        .container-md,
        .container-sm,
        .container-xl {
            max-width: 1250px;
        }
    }
    .logo-img {
        width: 300px;
    }
    .bordered {
        border: solid 1px $cr-dark;
        padding: 30px 0px;
        background-color: $cr-grey;
    }
    .bordered p {
        color: #7b7a7a;
        margin-left: 120px;
        margin-right: 120px;
    }
    .category {
        display: flex;
        border: solid 1px $cr-tealgreen;
        border-radius: 2px;
        padding-left: 40px;
        margin-bottom: 20px;
        background-color: $cr-white;
        height: 60px;
        margin-left: 120px;
        margin-right: 120px;
        cursor: pointer;
    }
    .category p {
        align-self: center;
        margin-bottom: 0;
        margin-left: 20px !important;
    }
    .bordered .btn-link img {
        width: 20px;
    }
    .bordered .btn-link {
        border-radius: 100%;
        background-color: #10cac1;
        padding: 18px 20px;
        margin-right: 30px;
        margin-top: 80px;
        box-shadow: 1px 1px 8px -3px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 1px 1px 8px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 8px -3px rgba(0, 0, 0, 0.75);
    }
}

.website-feedback {
    @media (min-width: 1300px) {
        .container,
        .container-lg,
        .container-md,
        .container-sm,
        .container-xl {
            max-width: 1250px;
        }
    }
    .logo-img {
        width: 300px;
    }
    .p-text {
        color: $cr-dark;
        font-size: 20px;
    }
    .p-text p {
        margin-bottom: 30px;
    }
    .border-bottom {
        border-color: $cr-darkgrey;
        padding-bottom: 20px;
    }
    .info {
        margin-top: 20px;
    }
    .info label {
        color: $cr-dark;
        font-size: 20px;
        // margin-bottom: 20px;
        // margin-top: 20px;
    }
    .css-2b097c-container {
        position: relative;
        box-sizing: border-box;
        width: 50%;
    }
    .css-yk16xz-control,
    .css-1pahdxg-control {
        background-color: hsl(0, 0%, 100%);
        border-color: $cr-tealgreen;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        min-height: 55px;
        box-shadow: none !important;
    }
    .css-yk16xz-control:hover,
    .css-1pahdxg-control:hover {
        border-color: $cr-tealgreen;
    }
    .css-1okebmr-indicatorSeparator {
        display: none !important;
    }
    .css-tlfecz-indicatorContainer,
    .css-1hb7zxy-IndicatorsContainer > div {
        color: $cr-darkgrey;
        margin-right: 5px;
    }
    .css-9gakcf-option {
        background-color: $cr-tealgreen;
    }
    input.form-control {
        height: 55px;
        border-radius: 5px;
        border-color: $cr-tealgreen;
    }
    #feedback {
        border-radius: 5px;
        border-color: $cr-tealgreen !important;
    }
    .form-control:focus {
        box-shadow: none !important;
    }

    // select.form-control {
    //     height: 55px;
    //     border-radius: 5px;
    //     -webkit-appearance: none;
    //     -moz-appearance: none;
    //     background-image: url("../background-images/arrow-down.svg");
    //     background-repeat: no-repeat;
    //     background-size: 3% 24%;
    //     background-position-x: 95%;
    //     background-position-y: 18px;
    //     width: 50%;
    //     // font-size: 14px;
    //     margin-bottom: 30px;
    //     border-color: $cr-tealgreen;
    // }
    .btn-link img {
        width: 20px;
    }
    .btn-link {
        border-radius: 100%;
        background-color: #10cac1;
        padding: 18px 20px;
        box-shadow: 1px 1px 8px -3px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 1px 1px 8px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 8px -3px rgba(0, 0, 0, 0.75);
        // margin-right: 30px;
    }

    .btn-outline-secondary {
        height: 100px;
        width: 120px;
        padding-left: 3px;
        padding-right: 3px;
        border-color: $cr-darkgrey;
        color: $cr-dark;
    }
    .btn-outline-secondary:hover {
        border-color: $cr-darkgrey;
        background-color: $cr-darkgrey;
        color: $cr-white;
    }
    .col {
        width: 19% !important;
    }
}
