@import "./variable.scss";

.footer-one {
    @media (min-width: 1200px) {
        .container,
        .container-lg,
        .container-md,
        .container-sm,
        .container-xl {
            max-width: 1250px;
        }
    }
    .footer-menu {
        padding-top: 30px;
        padding-bottom: 30px;
        a {
            font-size: 14px;
            color: $cr-dark;
            text-decoration: none;
        }
        .socials {
            display: flex;
            justify-content: flex-end;
        }
        .socials img {
            margin-right: 30px;
            width: 20px;
        }
        .socials .facebook {
            margin-right: 30px;
            width: 12px;
        }
    }
    .footer-section-one {
        background-color: #333333;
        padding-top: 40px;
        padding-bottom: 10px;
        .logo {
            margin-top: 10px;
        }
        ul {
            list-style-type: none;
        }
        li {
            margin-bottom: 15px;
        }
        li a {
            color: $cr-white;
            font-weight: 100 !important;
            font-weight: 400 !important;
        }
        .socials {
            display: flex;
        }
        .socials img {
            margin-right: 40px;
            width: 20px;
        }
        .socials .facebook {
            margin-right: 40px;
            width: 12px;
        }
        .info {
            border-bottom: solid 1px $cr-white;
            padding-bottom: 30px;
        }
        .info p {
            color: $cr-white;
            font-weight: 400;
            margin-left: 80px;
        }
        .subscribe p {
            margin-left: 0 !important;
        }
        .form-control {
            width: 300px;
            padding-left: 40px !important;
        }
        .ssl {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .ssl p {
            color: $cr-white;
            font-weight: 400;
            margin-left: 80px;
            font-size: 14px;
        }
        .ssl .socials {
            justify-content: flex-end;
        }
    }
    .footer-section-two {
        padding-top: 50px;
        padding-bottom: 40px;

        background: #222222;
        ul {
            list-style-type: none;
            display: flex;
            align-self: center;
        }
        li {
            margin-right: 20px;
        }
        li a {
            color: $cr-white;
            font-weight: 100 !important;
        }
        p {
            color: #ffffff;
            font-weight: 400;
        }
    }
}
