.hero{
height: 55vh;
background-repeat: no-repeat;
// width: 100%;
// background-size: auto;
// background-position: center;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}