.security{
    background-color: #21B7AC;
    width: 100%;
    font: normal normal normal 20px/30px Roboto;
letter-spacing: 0.4px;
color: #FFFFFF;
display: flex;
align-items: center;
justify-content: center;
padding: .5em 0;
margin-bottom: 1em;
}