$cr-darkest: #000000;
$cr-darker: #0e0f0e;
$cr-dark: #222121;
$cr-red: #eb3339;
$cr-grey: #e4e4e4;
$cr-orange: #ff9101;
$cr-white: #ffffff;
$cr-darkgrey: #707070;
$cr-tealgreen: #21b7ac;
$cr-darkgreen: #0B4438;
$cr-yellow:#F9C816;