.about {
  .hero {
    background-image: url("../../asset/background-images/car-about-us.png");
    background-repeat: no-repeat;
    height: 55vh;
    width: 100%;
    padding: 0;
    .overley {
      height: 100%;
      width: 100%;
      background-color: rgba(15, 202, 193, 0.3);
    }
  }
  .heading {
    font: normal normal bold 40px/18px Roboto;
    letter-spacing: 1.6px;
    color: #0e0f0e;

    margin-bottom: 1em;
  }
  .contact {
    font: normal normal bold 20px/31px Roboto;
    letter-spacing: 0px;
    color: #222121;
  }
  ul {
    li {
      list-style: none;
      margin-left: -2.3em;
    }
  }
}
