@import "./variable.scss";

.dark-color {
    color: $cr-dark !important;
}
.darker-color {
    color: $cr-darker !important;
}
.darkest-color {
    color: $cr-darkest !important;
}
.red-color {
    color: $cr-red !important;
}
.grey-color {
    color: $cr-grey !important;
}
.orange-color {
    color: $cr-orange !important;
}
.white-color {
    color: $cr-white !important;
}
.darkgrey-color {
    color: $cr-darkgrey !important;
}
.white-color {
    color: $cr-white !important;
}
.teal-color {
    color: $cr-tealgreen !important;
}

.dark-background {
    background-color: $cr-dark !important;
}
.darker-background {
    background-color: $cr-darker !important;
}
.darkest-background {
    color: $cr-darkest !important;
}
.red-background {
    background-color: $cr-red !important;
}
.grey-background {
    background-color: $cr-grey !important;
}
.orange-background {
    background-color: $cr-orange !important;
}
.white-background {
    background-color: $cr-white !important;
}
.darkgrey-background {
    background-color: $cr-darkgrey !important;
}
.white-background {
    background-color: $cr-white !important;
}
.teal-background {
    background-color: $cr-tealgreen !important;
}
.logo {
    width: 190px;
}

.teal-button {
    background-color: $cr-tealgreen !important;
    border-color: $cr-tealgreen !important;
    color: $cr-white !important;
    padding: 5px 25px;
}
