@import "./variable.scss";
.car-details {
    @media (min-width: 1300px) {
        .container,
        .container-lg,
        .container-md,
        .container-sm,
        .container-xl {
            max-width: 1200px;
        }
    }
    .col-md-3.title-container {
        max-width: 28% !important;
        padding-left: 0;
    }
    .title {
        color: #090808;
        font-weight: 400;
    }
    .slick-dots li {
        position: relative;
        display: inline-block;
        width: 70px !important;
        height: 50px !important;
    }
    .car-container {
        background-color: $cr-grey;
        overflow-x: hidden;
        border: solid 1px $cr-darkgrey;
        padding: 20px;
    }
    .slick-slide img {
        width: 100%;
        height: 426px;
    }

    .slick-dots {
        position: relative !important;
        bottom: 0px;
        top: 5px;
        display: inline-flex !important;
        // width: 100%;
        overflow: scroll !important;
        padding: 0;
        // padding-left: 30px;
        // padding-right: 10px;
        margin: 0;
        margin-left: 20px;
        text-align: left !important;
    }
    .slick-dots::-webkit-scrollbar {
        display: none;
    }
    ul.slick-dots.slick-thumb {
        width: 590px !important;
        margin-right: 90px !important;
    }

    // ul.slick-dots.slick-thumb img {
    //     margin-left: -30px !important;
    //     // animation: slide infinite 3s alternate;
    //     // margin-right: -170px !important;
    //     // margin-right: 20px;
    // }
    // .slick-active .slideClass7 {
    //     margin-left: -70px;
    //     // margin-right: 70px;
    // }
    // ul.slick-dots.slick-thumb {
    //     // margin-left: -70px;
    //     // padding-left: 20px;
    //     // overflow: hidden !important;
    // }
    // @keyframes slide {
    //     0% {
    //         margin-left: 0px;
    //     }
    //     // 50% {
    //     //     margin-left: -100px;
    //     // }
    //     100% {
    //         margin-left: -200px;
    //     }
    // }
    // .slick-dots img {
    //     margin-right:300px;
    //     overflow: scroll !important;
    //     transition: 1s;
    //     right: 180px;
    // }
    .slick-active a img {
        border: solid 1.5px $cr-tealgreen;
        padding: 1.5px;
    }
    .slick-current {
        border: none !important;
    }
    .slick-next {
        // border: solid;
        width: 100px !important;
        height: 100px !important;
        background-image: url("../../asset/background-images/slider-arrow-right.svg") !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        right: -49px !important;
        opacity: 0.9 !important;
    }
    .slick-next:hover {
        // border: solid;
        width: 100px !important;
        height: 100px !important;
        background-image: url("../../asset/background-images/slider-arrow-right.svg") !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        right: -49px !important;
        opacity: 1 !important;
    }
    .slick-next:before {
        content: "" !important;
    }
    .slick-prev {
        // border: solid;
        width: 100px !important;
        height: 100px !important;
        background-image: url("../../asset/background-images/slider-arrow-left.svg") !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        left: 0px !important;
        opacity: 0.9 !important;
        z-index: 1000 !important;
    }
    .slick-prev:hover {
        // border: solid;
        width: 100px !important;
        height: 100px !important;
        background-image: url("../../asset/background-images/slider-arrow-left.svg") !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        right: 0px !important;
        opacity: 1 !important;
        z-index: 1000 !important;
    }
    .slick-prev:before {
        content: "" !important;
    }
    .prev-button-container {
        position: relative;
        // height: 100%;
    }
    .prev-button {
        position: absolute;
        z-index: 1000;
        // top: 0;
        bottom: 0;
        left: 0;
        padding-left: 0;
    }
    .next-button-container {
        position: relative;
    }
    .next-button {
        position: absolute;
        z-index: 1000;
        bottom: 0;
        right: 0;
    }
    .btn-link {
        box-shadow: none !important;
    }
    .prev-button img {
        width: 10px;
    }
    .next-button img {
        width: 10px;
    }

    .quick-details .border-right {
        border-width: 1px !important;
        border-color: $cr-darkgrey !important;
        height: 50px;
    }
    .quick-details h5 {
        font-weight: 600;
        font-size: 1.15rem;
    }
    .quick-details-container {
        border-bottom: solid 1px $cr-darkgrey;
        padding-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .simple-details {
        color: $cr-darkgrey;
        font-size: 14px;
        margin-bottom: 0;
    }
    .recent {
        border: solid 1px $cr-darkgrey;
        height: 40px;
        display: flex;
        justify-content: center;
        background-color: #444343;
    }
    .recent p {
        margin-bottom: 0;
        align-self: center;
        color: $cr-white;
        font-size: 14px;
        font-weight: 500;
    }
    .nav-tabs {
        font-size: 14px;
        margin-left: 45px;
    }
    .nav-tabs .nav-link.active {
        margin-bottom: -1px;
        border: 1px solid $cr-tealgreen;
        border-top-left-radius: 15px !important;
        border-top-right-radius: 15px;
        background-color: $cr-tealgreen;
        color: $cr-white;
    }
    .nav-tabs .nav-link {
        padding: 2px 20px !important;
    }
    .nav-tabs .nav-link {
        margin-bottom: -1px;
        border: none;
        border-top-left-radius: 15px !important;
        border-top-right-radius: 15px;
        background-color: transparent;
        color: $cr-dark;
    }
    .content-container {
        border: solid 1px $cr-darkgrey;
        padding: 20px 40px;
        background: $cr-white;
        margin-top: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 1px 1px 8px -3px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 1px 1px 8px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 8px -3px rgba(0, 0, 0, 0.75);
        .form-control {
            background-color: $cr-grey;
            border-color: $cr-darkgrey;
            border-radius: 0;
            color: $cr-darkgrey;
        }
        .input-group .form-control {
            border-left: 0;
        }
        .input-group-text {
            border-color: $cr-darkgrey;
            background-color: $cr-white;
            color: $cr-darkgrey;
        }
        .btn-primary {
            background-color: $cr-tealgreen;
            border-color: $cr-tealgreen;
        }
    }
    .more-details {
        .more-container {
            border: solid 1px $cr-darkgrey;
            padding: 30px 50px;
            margin-top: 20px;
        }
        .overview {
            color: $cr-dark;
            margin-bottom: 20px;
        }

        .border-bottom {
            margin-bottom: 10px;
            border-color: $cr-darkgrey !important;
        }
        .border-bottom p {
            color: #7b7a7a;
            margin-bottom: 10px;
        }
        .less .btn-link {
            color: #10cac1;
            text-decoration: none;
        }
        .nav-tabs .nav-link.active {
            border: none !important;
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            background-color: transparent !important;
            color: $cr-dark;
            font-size: 20px;
            border-bottom: solid 3px #10cac1 !important;
        }

        .nav-tabs .nav-link {
            font-size: 20px;
            color: $cr-darkgrey;
        }
        .nav-tabs {
            border-bottom: none !important;
        }
        .border-top {
            border-top: 1px solid $cr-darkgrey !important;
            width: 1439px;
            margin-left: -135px;
        }
    }
    .recommended {
        border-bottom: solid 1px $cr-darkgrey !important;

        .autopreneneur-rec-carousel {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin: auto;

            h1 {
                font-size: 8em;
                outline: none;
            }

            h1:hover {
                cursor: pointer;
            }
        }
        .autopreneneur-suggestion {
            width: 90%;
            margin: 2em auto;

            .autopreneneur-recommended {
                width: auto;
                display: flex;
                flex-shrink: 0;
                justify-content: flex-start;
                align-items: flex-start;
                overflow-x: scroll;
                scroll-behavior: smooth;
            }
            .autopreneneur-recommended::-webkit-scrollbar {
                display: none;
            }
        }
    }
    .breadcrumb {
        display: flex;
        flex-wrap: wrap;
        padding: 0.75rem 1rem;
        margin-bottom: 1rem;
        list-style: none;
        background-color: transparent;
        border-radius: 0.25rem;
    }
    .breadcrumb a {
        color: $cr-tealgreen;
        text-decoration: none;
    }
    .breadcrumb span {
        color: $cr-tealgreen;
        text-decoration: none;
        cursor: pointer;
    }

    .modal {
        .btn-link {
            box-shadow: none !important;
        }
        .close {
            width: 40px;
        }
        .modal-body {
            padding-top: 5px;
            width: 580px;
        }
        .logo {
            margin-left: 40px;
        }
        .question {
            padding-left: 110px;
            padding-right: 110px;
            border-bottom: solid 1px $cr-darkgrey;
            margin-top: 20px;
        }
        .question p {
            color: $cr-darkgrey;
        }
        h3 {
            color: #9f9b9b;
            font-weight: 400;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .btn-success {
            border-color: $cr-tealgreen;
            background-color: $cr-tealgreen;
            padding: 10px 40px;
            // width: 400px;
            margin-bottom: 30px;
        }
        .btn-success:hover {
            border-color: $cr-tealgreen;
            background-color: rgba(33, 183, 172, 0.9);
            padding: 10px 40px;
            // width: 400px;
            margin-bottom: 30px;
        }
        .btn-success:focus {
            border-color: $cr-tealgreen;
            background-color: rgba(33, 183, 172, 1) !important;
            padding: 10px 40px;
            // width: 400px;
            margin-bottom: 30px;
            box-shadow: none !important;
        }
        .btn-outline-secondary {
            border-color: #75787a;
            // width: 400px;
            color: #75787a;
            padding: 10px 40px;
            margin-bottom: 30px;
        }
        .btn-outline-secondary:hover {
            border-color: #75787a;
            // width: 400px;
            color: #ffffff;
            background-color: #75787a;
            box-shadow: none;
        }
        .btn-outline-secondary:focus {
            border-color: #75787a;
            // width: 400px;
            color: #75787a;
            background-color: transparent;
            box-shadow: none !important;
        }
        .modal-content {
            width: inherit !important;
        }
        .modal-dialog {
            max-width: 580px;
        }
        .car-info h4 {
            color: $cr-darkgrey;
        }
    }

    /* Extra small devices (phones, 600px and down) */
    @media screen and (max-width: 576px) {
        .col-md-3.title-container {
            max-width: 100% !important;
            padding-left: 0;
        }
        .listing .card {
            width: 283px !important;
            margin-bottom: 30px;
        }
        .recommended .autopreneneur-rec-carousel h1 {
            font-size: 4em;
        }
        .slick-slide img {
            width: 100%;
            height: 100%;
        }
        .slick-next {
            width: 100px !important;
            height: 70px !important;
            right: -65px !important;
        }
        .slick-prev {
            width: 100px !important;
            height: 70px !important;
        }
        ul.slick-dots.slick-thumb {
            display: none !important;
            visibility: none;
        }
        .quick-details h5 {
            font-weight: 600;
            font-size: 0.8rem;
        }
        .nav-tabs {
            margin-left: 0px;
        }
        .more-details .nav-tabs .nav-link {
            font-size: 15px;
        }
        .more-details .nav-tabs .nav-link.active {
            font-size: 15px;
        }
        .more-details .border-top {
            border-top: 1px solid #707070 !important;
            width: 100%;
            margin-left: 0 !important;
        }
        .next-button-container {
            display: none !important;
        }
        .prev-button-container {
            display: none !important;
        }
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media screen and (min-device-width: 576px) and (max-device-width: 767px) {
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media screen and (min-device-width: 768px) and (max-device-width: 991px) {
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media screen and (min-device-width: 992px) and (max-device-width: 1199px) {
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
    }
}
.no-details {
    border-radius: 5px;
    box-shadow: 1px 1px 8px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 8px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 8px -3px rgba(0, 0, 0, 0.75);
    height: 800px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.no-details h4 {
    align-self: center;
    color: $cr-tealgreen;
}
