.chat {
    position: fixed;
    right: 50px;
    top: 50%;
    button {
        height: 80px;
        width: 80px;
    }
    /* Extra small devices (phones, 600px and down) */
    @media screen and (max-width: 576px) {
        z-index: 1000;
        right: 50px;
        top: 45%;
        button {
            height: 50px;
            width: 50px;
        }
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media screen and (min-device-width: 576px) and (max-device-width: 767px) {
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media screen and (min-device-width: 768px) and (max-device-width: 991px) {
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media screen and (min-device-width: 992px) and (max-device-width: 1199px) {
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
    }
}
