@import "./variable.scss";

.dropdown-component {
    .dropdown-toggle {
        padding: 0 !important;
        background: transparent;
        border: none;
        color: $cr-dark;
        font-size: 14px !important;
    }
    .dropdown-toggle img {
        width: 13px;
        margin-left: 5px;
    }
    .btn-secondary:hover {
        background: transparent !important;
        border-color: none !important;
        color: $cr-tealgreen;
    }
    .btn-secondary:focus {
        background: transparent !important;
        border-color: none !important;
        box-shadow: none !important;
        color: $cr-tealgreen !important;
    }
    .show > .btn-secondary.dropdown-toggle {
        background: transparent !important;
        border-color: none !important;
        box-shadow: none !important;
        color: $cr-tealgreen !important;
    }
    .dropdown-toggle::after {
        display: none;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        height: 400px;
        overflow: scroll;
        min-width: 53.6rem !important;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: 1rem;
        color: #212529;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
    }
    .dropdown-menu.show {
        left: -202px !important;
    }
    .btn-link {
        border-bottom: none !important;
    }
    /* Extra small devices (phones, 600px and down) */
    @media screen and (max-width: 576px) {
        .dropdown-menu.show {
            left: -27px !important;
            transform: translate3d(330px, 25px, 0px);
        }
        .dropdown-menu {
            height: 400px;
            min-width: 20.1rem !important;
        }
    }
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media screen and (min-device-width: 576px) and (max-device-width: 767px) {
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media screen and (min-device-width: 768px) and (max-device-width: 991px) {
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media screen and (min-device-width: 992px) and (max-device-width: 1199px) {
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
    }
}
