@import "./variable.scss";

.home {
    .jumbotron {
        border-radius: 0 !important;
        padding: 0 !important;
        position: relative;
        margin-bottom: 0;
        .owl-theme .owl-nav.disabled + .owl-dots {
            position: absolute;
            bottom: 90px;
            right: 0;
            width: 100%;
        }
        .owl-theme .owl-dots .owl-dot span {
            width: 5px;
            height: 5px;
            margin: 5px 7px;
            background: #68fef7;
            border-radius: 100%;
        }
        .owl-theme .owl-dots .owl-dot.active span,
        .owl-theme .owl-dots .owl-dot:hover span {
            background: #ffffff;
        }
        .item {
            position: relative;
        }
        .banner-text {
            position: absolute;
            // padding-left: 230px;
            height: 100%;
            top: 80px;
            bottom: 0;
        }
        .banner-text h1 {
            color: $cr-white;
        }
        .banner-bottom-container-home {
            border: solid 1px $cr-dark;
            padding-top: 10px;
            color: $cr-orange;
            background-color: $cr-dark;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding: 20px 80px 20px 80px;
        }
        .banner-bottom {
            position: absolute;
            width: 100%;
            bottom: 0;
            // top: 0;
            z-index: 1000;
        }
        .btn-danger {
            background-color: $cr-red;
            color: $cr-white;
            border-color: $cr-red;
            border-radius: 0;
            display: inline-block;
            height: 25px;
            // line-height: 50px;
            letter-spacing: 3px;
            font-size: 14px;
            font-weight: 600;
            position: fixed;
            right: 13px;
            top: 250px;
            bottom: 0;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            transform-origin: right;
            // width: 150px;
            padding-bottom: 20px;
            z-index: 1000;
            padding-left: 30px;
            padding-right: 30px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }
    .section2 {
        @media (min-width: 1300px) {
            .container,
            .container-lg,
            .container-md,
            .container-sm,
            .container-xl {
                max-width: 1300px;
            }
        }
        padding-top: 20px;
        padding-bottom: 20px;
        .car-option img {
            width: 90px;
            height: 40px;
            align-self: center;
        }
        .car-option {
            height: 85px;
            border-radius: 10px;
            border: solid 1px $cr-white;
            background-color: $cr-white;
            padding: 10px;
            cursor: pointer;
        }
        .car-option p {
            margin-bottom: 0;
            margin-top: 5px;
            align-self: flex-end;
            font-size: 14px;
        }
        .message {
            padding: 10px 10px;
            border-radius: 100%;
        }
        .message img {
            width: 30px;
            // height: 20px;
        }
        select.form-control {
            height: 50px;
            border-radius: 30px;
            text-align-last: center;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
            background-repeat: no-repeat;
            background-position-x: 95%;
            background-position-y: 12px;
            width: 90%;
            font-size: 14px;
            margin-bottom: 30px;
        }
        .col-form-label {
            color: $cr-white;
            font-size: 13px;
            margin-top: 10px;
            font-weight: 500;
        }
        .input-range {
            margin-top: 17px;
        }
        .input-range__slider {
            background-color: $cr-orange;
            border-color: $cr-orange;
        }

        .input-range__track--active {
            background: $cr-orange;
        }
        .advance {
            color: $cr-white;
            font-size: 13px;
            font-weight: 500;
            margin-bottom: 0;
            margin-top: 10px;
        }
        .btn-primary {
            border-color: $cr-orange;
            background-color: $cr-orange;
            color: $cr-white;
            font-weight: 600;
            font-size: 14px;
            padding: 15px 23px;
            padding-left: 30px !important;
            border-radius: 30px;
        }
        .btn-primary:active {
            background-color: rgba(255, 145, 1, 0.6) !important;
            border-color: rgba(255, 145, 1, 0.6) !important;
            box-shadow: none !important;
        }
        .btn-primary img {
            width: 20px;
            margin-left: 10px;
        }
    }
    .section3 {
        @media (min-width: 1300px) {
            .container,
            .container-lg,
            .container-md,
            .container-sm,
            .container-xl {
                max-width: 1300px;
            }
        }
        padding-top: 60px;
        padding-bottom: 30px;
        .section3-title {
            color: #313030;
            margin-bottom: 40px;
            border: solid 1px $cr-tealgreen;
            padding: 10px 0;
            width: 80%;
        }
        .item {
            width: 270px;
        }
        .featured-img {
            width: 270px;
            max-height: 215px;
            overflow: hidden;
        }
        .card-img-top {
            overflow: hidden;
            height: 216px !important;
            width: inherit;
        }
        .price {
            background-color: $cr-tealgreen;
            color: $cr-white;
            width: 80%;
            text-align: center;
        }
        .car-name {
            color: #313030;
        }
        .badge {
            width: 40px !important;
            margin-left: 10px;
        }
        .recent-indicator {
            border-color: #dc3545;
            background-color: #dc3545;
            color: $cr-white;
            border-radius: 5px;
        }
        .speedometer img {
            width: 20px;
        }
        .speed {
            color: #9b9a9a;
            font-weight: 600;
            margin-left: -20px;
            margin-bottom: 0;
        }
        .others p {
            color: #9b9a9a;
            font-weight: 400;
            font-size: 13px;
        }
        .others p strong {
            font-weight: 800;
            font-size: 25px;
            margin-left: 10px;
            margin-right: 10px;
        }
        .owl-nav {
            border: solid 1px $cr-dark;
            margin-left: 43%;
            margin-right: 43%;
            border-radius: 30px;
            padding: 5px 0;
        }
        .owl-nav img {
            width: 30px;
        }
        .owl-carousel .owl-nav button.owl-prev {
            margin-right: 40px;
        }
        .owl-carousel .owl-nav button.owl-next {
            margin-left: 40px;
        }
    }
    .section4 {
        @media (min-width: 1300px) {
            .container,
            .container-lg,
            .container-md,
            .container-sm,
            .container-xl {
                max-width: 1250px;
            }
        }
        background-image: url("../../asset/background-images/section4-bg.svg");
        background-repeat: no-repeat;
        background-size: cover;
        h3 {
            line-height: 40px;
            color: #313030;
        }
        h1 {
            font-size: 50px;
            letter-spacing: 4px;
            color: $cr-white;
        }
        .btn-secondary {
            padding: 8px 45px;
            background-color: $cr-dark;
            border-color: $cr-dark;
            border-radius: 50px;
            font-weight: 600;
            font-size: 18px;
        }
    }
    .section5 {
        background-color: $cr-grey;
        padding-top: 40px;
        padding-bottom: 25px;
        @media (min-width: 1300px) {
            .container,
            .container-lg,
            .container-md,
            .container-sm,
            .container-xl {
                max-width: 1250px;
            }
        }
        .img-cont {
            border: solid 1px $cr-darkgrey;
            width: 200px;
            height: 200px;
            display: flex;
            justify-content: center;
            border-radius: 100%;
        }
        .img {
            align-self: center;
            width: 150px;
            height: 150px;
            overflow: hidden;
            border: solid 1px $cr-darkgrey;
            border-radius: 100%;
        }
        .user-details .name {
            color: #313030;
            margin-right: 100px;
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 0;
        }
        .user-details img {
            margin-top: -20px;
        }
        .detail {
            color: $cr-darkgrey;
            font-size: 20px;
            margin-right: 100px;
        }
        .owl-nav {
            border: solid 1px $cr-dark;
            margin-left: 43%;
            margin-right: 43%;
            border-radius: 30px;
            padding: 5px 0;
        }
        .owl-nav img {
            width: 30px;
        }
        .owl-carousel .owl-nav button.owl-prev {
            margin-right: 40px;
        }
        .owl-carousel .owl-nav button.owl-next {
            margin-left: 40px;
        }
    }
    .section6 {
        @media (min-width: 1300px) {
            .container,
            .container-lg,
            .container-md,
            .container-sm,
            .container-xl {
                max-width: 1300px;
            }
        }
        padding: 60px 0;
        .faq {
            background-color: $cr-grey;
            padding: 50px 40px;
            padding-bottom: 0px !important;
        }
        .faq1 .col-md-10 {
            background: $cr-tealgreen;
        }
        .faq1 .col-md-1 {
            background: #1bd5cc;
        }
        .faq1 .col-md-11 p {
            color: $cr-darker;
        }
        .faq1 .col-md-10 .small {
            color: $cr-white !important;
        }
        .faq1 img {
            width: 40px;
        }
        .faq1 {
            height: 94px;
        }
        .faq1 p {
            margin-bottom: 0;
            color: $cr-darker;
            font-weight: 500;
        }
        .faq .small {
            font-weight: 400;
            font-size: 10px;
            text-align: center;
        }

        .faq2 .col-md-10 {
            background: $cr-dark;
        }
        .faq2 .col-md-1 {
            background: #6f6b6b;
        }
        .faq2 .col-md-10 p {
            color: $cr-white;
        }
        .faq2 .col-md-10 .small {
            color: $cr-white !important;
        }
        .faq2 img {
            width: 40px;
        }
        .faq2 {
            height: 94px;
        }
        .faq2 p {
            margin-bottom: 0;
            color: $cr-white;
            font-weight: 500;
        }
        .faq .small {
            font-weight: 400;
        }

        .faq3 .col-md-10 {
            background: $cr-orange;
        }
        .faq3 .col-md-1 {
            background: #f9c816;
        }
        .faq3 .col-md-10 p {
            color: $cr-white;
        }
        .faq3 .col-md-10 .small {
            color: $cr-white !important;
        }
        .faq3 img {
            width: 40px;
        }
        .faq3 {
            height: 94px;
        }
        .faq3 p {
            margin-bottom: 0;
            color: $cr-white;
            font-weight: 500;
        }
        .faq .small {
            font-weight: 400;
        }
        .col-md-4 {
            width: 40% !important;
        }
        .questions {
            color: $cr-darkgrey;
            padding-bottom: 20px;
            margin-top: 30px;
            font-size: 20px;
            text-align: center;
        }
    }
    .modal {
        .btn-link {
            box-shadow: none !important;
        }
        .close {
            width: 40px;
        }
        .modal-body {
            padding-top: 5px;
            width: 580px;
        }
        .logo {
            margin-left: 20px;
        }
        .question {
            padding-left: 110px;
            padding-right: 110px;
            border-bottom: solid 1px $cr-darkgrey;
            margin-top: 20px;
        }
        .question p {
            color: $cr-darkgrey;
        }
        h3 {
            color: #9f9b9b;
            font-weight: 400;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .btn-success {
            border-color: $cr-tealgreen;
            background-color: $cr-tealgreen;
            padding: 10px 40px;
            width: 400px;
            margin-bottom: 30px;
        }
        .btn-success:hover {
            border-color: $cr-tealgreen;
            background-color: rgba(33, 183, 172, 0.9);
            padding: 10px 40px;
            width: 400px;
            margin-bottom: 30px;
        }
        .btn-success:focus {
            border-color: $cr-tealgreen;
            background-color: rgba(33, 183, 172, 1) !important;
            padding: 10px 40px;
            width: 400px;
            margin-bottom: 30px;
            box-shadow: none !important;
        }
        .btn-outline-secondary {
            border-color: #75787a;
            width: 400px;
            color: #75787a;
            padding: 10px 40px;
            margin-bottom: 30px;
        }
        .btn-outline-secondary:hover {
            border-color: #75787a;
            width: 400px;
            color: #ffffff;
            background-color: #75787a;
            box-shadow: none;
        }
        .btn-outline-secondary:focus {
            border-color: #75787a;
            width: 400px;
            color: #75787a;
            background-color: transparent;
            box-shadow: none !important;
        }
        .modal-content {
            width: inherit !important;
        }
        .modal-dialog {
            max-width: 580px;
        }
    }
    /* Extra small devices (phones, 600px and down) */
    @media screen and (max-width: 576px) {
        .modal {
            .modal-content {
                width: 100% !important;
            }
            .modal-body {
                width: 100%;
            }
            .logo {
                width: 100px;
                margin-left: 50px;
            }
            .close {
                width: 30px;
                margin-top: -5px;
            }
            .question {
                padding-left: 0px;
                padding-right: 0px;
                border-bottom: solid 1px #707070;
                margin-top: 20px;
            }
            .btn-success {
                width: 100%;
            }
            .btn-outline-secondary {
                width: 100%;
            }
        }
        .jumbotron .owl-theme .owl-nav.disabled + .owl-dots {
            bottom: 20px;
        }
        .jumbotron .banner-text {
            top: 0;
            bottom: 0;
            padding-left: 0 !important;
        }
        .jumbotron .banner-text h1 {
            font-size: 1.2rem;
            margin-top: 10px;
        }
        .jumbotron .banner-bottom-container-home {
            margin-left: 20px;
            padding: 10px 10px 10px 10px;
        }
        .jumbotron .banner-bottom-container-home h3 {
            font-size: 1rem;
        }
        .jumbotron .banner-bottom {
            top: 72%;
        }
        .section2 .car-option img {
            width: 70px;
        }
        .section2 .car-option p {
            font-size: 10px;
        }
        .input-range__label--min {
            display: none;
        }
        .input-range__label--max {
            display: none;
        }
        .ranger {
            margin-top: -20px;
        }
        .section3 .section3-title {
            color: #313030;
            margin-bottom: 40px;
            border: solid 1px #21b7ac;
            padding: 10px 0;
            font-size: 1.5rem;
            width: 100%;
        }
        .section3 .featured-img {
            width: 340px;
            height: 200px !important;
        }
        .section3 .featured-img img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .section3 .owl-carousel .owl-nav button.owl-prev {
            margin-right: 20px;
        }
        .section3 .owl-carousel .owl-nav button.owl-next {
            margin-left: 20px;
        }
        .section3 .owl-nav {
            border: solid 1px #222121;
            margin-left: 30%;
            margin-right: 30%;
            border-radius: 30px;
            padding: 5px 0;
        }
        .section4 h1 {
            font-size: 42px;
            letter-spacing: 4px;
            color: #ffffff;
        }
        .section5 .img-cont {
            margin: 0 auto;
        }
        .section5 .user-details .name {
            color: #313030;
            margin-right: 0px;
        }
        .section5 .detail {
            margin-right: 0px;
        }
        .section5 .owl-nav {
            margin-left: 30%;
            margin-right: 30%;
        }
        .section5 .owl-carousel .owl-nav button.owl-prev {
            margin-right: 20px;
        }
        .section5 .owl-carousel .owl-nav button.owl-next {
            margin-left: 20px;
        }
        .section6 .faq {
            padding: 0px 0px;
        }
        .section6 .faq1 p {
            font-size: 12px;
            margin-bottom: 20px;
        }
        .section6 .faq1 {
            font-size: 12px;
            margin-bottom: 50px;
        }
        .section6 .faq2 {
            font-size: 12px;
            margin-bottom: 50px;
        }
        .section6 .faq3 {
            font-size: 12px;
            margin-bottom: 50px;
        }
        .section6 .questions {
            margin-top: 0px;
            font-size: 14px;
        }
    }

    .page-link {
        border-color: $cr-dark !important;
        color: $cr-tealgreen;
    }
    .page-item .btn-link {
        border-radius: 0 !important;
        text-decoration: none;
    }
    .disabled .page-link {
        border-color: $cr-darkgrey !important;
    }
    .page-item.active .page-link {
        background-color: $cr-tealgreen !important;
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media screen and (min-device-width: 576px) and (max-device-width: 767px) {
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media screen and (min-device-width: 768px) and (max-device-width: 991px) {
        .jumbotron .owl-theme .owl-nav.disabled + .owl-dots {
            bottom: 65px;
        }
        .jumbotron .banner-bottom {
            top: 75%;
        }
        .jumbotron .banner-bottom-container-home {
            padding: 6px 20px 0px 20px;
        }
        .jumbotron .banner-text {
            top: 35px;
        }
        .jumbotron .banner-text h1 {
            font-size: 2rem;
            text-align: center;
        }
        .section2 .car-option {
            text-align: center;
        }
        .section2 .btn-primary {
            padding: 7px 10px !important;
        }
        .section3 .section3-title {
            width: 100%;
        }
        .section3 .owl-nav {
            margin-left: 35%;
            margin-right: 35%;
        }
        .section5 .owl-nav {
            margin-left: 35%;
            margin-right: 35%;
        }
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media screen and (min-device-width: 992px) and (max-device-width: 1199px) {
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
    }
}
.modal-open .modal {
    backdrop-filter: blur(5px);
}
