@import "./variable.scss";
.listing {
    flex-shrink: 0;
    margin-right:0.8em;
    
    .card {
        width: 210px !important;
        overflow: hidden !important;
        border: solid 1px $cr-darkgrey;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        box-shadow: 1px 1px 8px -3px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 1px 1px 8px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 8px -3px rgba(0, 0, 0, 0.75);
        cursor: pointer;
        position: relative;
    }
    .card-img-top {
        overflow: hidden;
        height: 216px;
    }
    .card-body {
        padding: 10px;
        background-color: #e7e7e7;
    }
    .card-body p {
        color: $cr-dark;
        font-weight: 600;
        font-size: 14px;
    }
    .inspection-badge {
        width: 40px;
    }
    .border-bottom {
        margin-right: 2px;
        margin-left: 2px;
        border-color: $cr-darkgrey !important;
    }
    .border-bottom p {
        margin-bottom: 5px;
    }
    .border-bottom .col-md-8 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .border-bottom .col-md-4 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .condition {
        margin-top: 10px;
    }
    .nigeria p {
        font-size: 10px !important;
        color: $cr-white !important;
        margin-bottom: 0;
    }
    .nigeria {
        border: solid 1px $cr-darkgrey;
        background-color: $cr-darkgrey;
    }
    .market p {
        font-size: 8px !important;
        color: $cr-white !important;
        margin-bottom: 0;
        padding: 2px 0;
    }
    .market {
        border: solid 1px $cr-orange;
        background-color: $cr-orange;
    }
    .direct p {
        font-size: 11px !important;
        color: $cr-white !important;
        margin-bottom: 0;
    }
    .direct {
        border: solid 1px $cr-dark;
        background-color: $cr-dark;
    }
    .foreign p {
        font-size: 11px !important;
        color: $cr-white !important;
        margin-bottom: 0;
    }
    .foreign {
        border: solid 1px $cr-tealgreen;
        background-color: $cr-tealgreen;
    }
    .vertical-line {
        border-left: solid 1px $cr-darkgrey;
        margin-left: 5px;
        height: 20px;
    }
    .price {
        margin-bottom: 5px;
    }
    .mile {
        margin-bottom: 5px;
        font-size: 12px !important;
    }
    .mile small {
        font-size: 12px !important;
        color: $cr-darkgrey;
    }
    .year {
        margin-bottom: 5px;
        font-size: 12px !important;
    }
    .year small {
        font-size: 12px !important;
        color: $cr-darkgrey;
    }
    .id {
        margin-bottom: 5px;
        font-size: 12px !important;
    }
    .id small {
        font-size: 12px !important;
        color: $cr-darkgrey;
    }
    .car-badge {
        position: absolute;
        bottom: -12px;
        right: -9px;
    }
}
